<%= render partial: 'project_issue_templates/header' %>
<% global_templates.each do |global_template| %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td class="issue-templates-title"><%= global_template.title %></td>
    <td colspan="3" class="issue-templates-content"><div><%= simple_format h(global_template.content) %></div></td>
  </tr>
<% end %>
