<%= render :partial => 'project_issue_templates/header' %>
<% global_templates.each do |global_template| %>
  <tr>
    <td><%= global_template.title %></td>
    <td><%= global_template.content %></td>
    <td></td>
    <td></td>
  </tr>
<% end %>
